@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #030815;
  --foreground: #f1f1f1;
  --blue:#111EB5;
  --primary-1: #1626FD;
  --primary-2: #f16b0d;
  --primary-3: #e61216;
  --white-200: #e8e8e8;
  --white-300: #cacaca;
  --light-blue: #041035;
  --dark-blue: #1727FF;
    --font-display: var(--font-display);
  --font-body: var(--font-body);
  --default-ease: cubic-bezier(0.19, 1, 0.22, 1);
}

@theme inline {
  --font-head: var(--font-display);
  --font-body: var(--font-body);
  --color-blue-1: var(--blue);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-white-200: var(--white-200);
  --color-white-300: var(--white-300);
  --ease-default-ease: var(--default-ease);
  --color-light-blue: var(--light-blue);
  --color-dark-blue: var(--dark-blue);
    --ease-default-ease: var(--default-ease);
  --color-light-blue: var(--light-blue);
  --color-dark-blue: var(--dark-blue);
}

body {
  background-color: var(--background);
  color: var(--white-200);
  font-family: var(--font-body);
  font-size: 1.15vw;
  letter-spacing: 0.5px;
  line-height: 1.4;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4 {
  font-family: var(--font-display);
}
.container{
  max-width: 100%;
  padding: 7% 5vw;
  margin-left: auto;
  margin-right: auto;
}

.title-1 {
  font-size: 5.2vw;
  line-height: 1.2;
}
.title-2 {
  font-size: 3.4vw;
  line-height: 1.2;
}
.title-3{
  font-size: 2.2vw;
  line-height: 1.2;
}

.headingAnim .line .line-internal {
  mask-size: 500% 100%;
  mask-image: linear-gradient(
    150deg,
    #e8e8e8 33.3%,
    rgba(255, 255, 255, 0) 66.6%
  );
}
.turbo-headingAnim .line .line-internal {
  mask-size: 500% 100%;
  mask-image: linear-gradient(
    150deg,
    #e8e8e8 33.3%,
    rgba(255, 255, 255, 0) 66.6%
  );
}

.heroHeadAnim .line {
  mask-size: 500% 100%;
  mask-image: linear-gradient(
    150deg,
    #e8e8e8 33.3%,
    rgba(255, 255, 255, 0) 66.6%
  );
}

/* Button Text Shadow */
.buttonTextShadow {
  text-shadow: 0 1.5em currentColor;
}

.buttonSplit .single-letter {
  transition: transform 1s var(--default-ease);
}

.buttonSplit:hover .single-letter {
  transform: translate(0px, -1.5em);
}

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 100vw; 
}

.marquee__track {
  display: flex;
  /* transform: translateX(-62.5%); */
  animation: marquee 15s linear infinite;
  min-width: 200%; /* Added for consistency */
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-62.5%); }
}

.marquee__track_reverse {
  display: flex;
  /* transform: translateX(-50%); */
  animation: marquee-reverse 15s linear infinite;
  min-width: 200%;
}

@keyframes marquee-reverse {
  0% { transform: translateX(-62.5%); } 
  100% { transform: translateX(0); } 
}

.background-glass{
background: linear-gradient(90.17deg, rgba(255, 255, 255, 0.06) 0.01%, rgba(255, 255, 255, 0.06) 99.99%);

}
.background-glass-diff{
background: linear-gradient(90.17deg, rgba(255, 255, 255, 0.01) 0.01%, rgba(255, 255, 255, 0.08) 99.99%);

}
.background-radial{
  background: radial-gradient(43.88% 47.7% at 48.03% 50%, #081B57 0%, #030815 100%) 

}

.unifyblock {
  /* initial gradient colors */
  --c1: #081b57;   /* "from" */
  --c2: #030815;   /* "via" */
  --c3: #030815;   /* "to" */

  /* initial radial size */
  --rx: 40%; /* x-radius */
  --ry: 40%; /* y-radius */

  background-image: radial-gradient(
    var(--rx) var(--ry) at 50% 50%,
    var(--c1) 0%,
    var(--c2) 55%,
    var(--c3) 100%
  );

  background-color: transparent !important;
}

.shimmer {
  color: transparent;
  background-image: linear-gradient(90deg, #ffffff70 0%, rgb(255, 255, 255) 25%, #ffffff70 50%);
  background-size: 250% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 100% 0%;
  animation: shimmerAnimation 3s linear infinite;
  animation-delay: 2s;
}

@keyframes shimmerAnimation{
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -90% 0%;
  }
}

::-webkit-scrollbar {
  width: 4px;
  padding-left: 5vw;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #F16B0D, #E61216); /* gradient from top to bottom */
  border-radius: 8px;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes connectripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.circle-1,
.circle-2,
.circle-3 {
  transform-origin: center;
  animation: ripple 5s linear infinite;
}
.connect-circle-1,
.connect-circle-2,
.connect-circle-3 {
  transform-origin: center;
  animation: connectripple 5s linear infinite;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.round:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round:hover .arrow.segunda {
  animation-delay: 0.2s;
}

.under-multi {
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0)),
    linear-gradient(#ffffff, #ffffff);
  background-size:
    100% 0px,
    0% 1px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: all 0.5s ease-out;
}

.under-multi-parent:hover .under-multi {
  background-size:
    100% 0px,
    100% 1px;
}

.split__wrapper .split-chars {
  transition: color 0.4s;
  /* color: var(--background); */
  color: rgba(255, 255, 255, 0.159) ;
}

.split__wrapper .split-chars.show {
  animation: color-transition 0.5s;
  color: var(--white-200);
}

@keyframes color-transition {
  0% {
    /* color: var(--background); */
  color: rgba(255, 255, 255, 0.159) ;

  }
  30% {
    color: var(--primary-2);
  }
  100% {
    color: var(--white-200);
  }
}

@media (max-width:542px) {
  .title-1 {
  font-size: 14vw;
}
.title-2 {
  font-size: 9vw;
}
.title-3{
  font-size: 7.5vw;
}
  body {
  font-size: 4.2vw;
  line-height: 1.6;
}
.container{
  max-width: 100%;
  padding: 15% 7vw;
  margin-left: auto;
  margin-right: auto;
}

.unifyblock {
  /* initial gradient colors */
  --c1: #081b57;   /* "from" */
  --c2: #030815;   /* "via" */
  --c3: #030815;   /* "to" */

  /* initial radial size */
  --rx: 120%; /* x-radius */
  --ry: 85%; /* y-radius */

  background-image: radial-gradient(
    var(--rx) var(--ry) at 50% 50%,
    var(--c1) 0%,
    var(--c2) 55%,
    var(--c3) 100%
  );

  background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: #FFFFFF66 !important;
  border-radius: 20px;

}
::-webkit-scrollbar-track {
  background: #FFFFFF33;
}

.marquee__track {
  display: flex;
  /* transform: translateX(-187.5%) !important; */
  animation: marquee 15s linear infinite;
  min-width: 200%; /* Added for consistency */
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-187.5%); }
}
@keyframes marquee-reverse {
  0% { transform: translateX(-187.5%); } 
  100% { transform: translateX(0); } 
}

}


